---
layout: default
permalink: "/company/"
title: Company
class: company
excerpt: >
  We believe in long-term client relationships
---

<div class="region--hero region--hero--company region--full-width">
  <div class="region--hero--company__wrapper region--full-width__wrapper">
    <div class="region--hero--company__heading-full-width">
      <h1 class="heading--sans-serif heading--bold h1">Who we are</h1>
      <a class="link--arrow" href="/company/mission-and-values" title="Our mission and core values">Our mission and core values</a>
    </div>
    <div class="region--hero--company__two-col">
      <div class="region--hero--company__two-col__text">
        <h2>We believe in long-term client relationships</h2>
        <h2>Battle Tested Since 1998.</h2>
        <p>We are a tightly organized and deeply talented group of individuals. We have rock solid domain expertise and a proven track record on large, complex A/R projects. Its what we do best and we thrive it.
        We don't deliver an inflexible canned product – we collaborate with you on a soluton <b>for
        the way you do business.</b>
        <br>
        You'll like working with us.
      </p>
      </div>
      <div class="region--hero--company__two-col__image"></div>
    </div>
  </div>
</div>

<div class="region--cta region">
  <div class="region--cta__wrapper">
    <h2 class="region--cta__heading c-orange" >Mission, vision, values</h2>
    <a href="/company/mission-and-values" class="button--arrow">OUR GUIDING PRINCIPLES</a>
  </div>
</div>

<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">Who we work with</h2>
      <p>OUR CLIENTS ARE BOLD ORGANIZATIONS SOLVING BIG PROBLEMS</p>
      <p>We have customers that we have been supporting for almost 20 years. We've been in business since 1998, working with big (and big-ish) companies all over the world. What do they have in common? They're constantly improving and changing how they work with one of the largests asssets on their
      balance sheet ... the A/R</p>
      <p>We focus on consumer goods, manufacturing, distribution, transportation, health services and insurance companies.</p>
    </div>
    <div class="region--banner--service__image">
      <img src="/assets/img/company/custs.png" alt="customers">
    </div>
  </div>
</div>

<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__image">
      <img src="/assets/img/company/whiteboard-plan.jpg" width="300" alt="customers">
    </div>
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">Our Services</h2>
      <p>WE CAN DO IT ALL, OR WE CAN DO SOME OF IT ALL</p>
      <p>We'll work with you to find the right mix of products and services for your needs. If we're gonna make something good (and we are), we need to plan. We'll get to know your organization, your business goals, and your needs.</p>
      <p></p>
    </div>
  </div>
</div>

<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">Integrations</h2>
      <p>INTEGRATION EXPERTS</p>
      <p>We excel in complex integrations. We've connected to 100's of systems. From legacy sytems to banks to you customers AP to well established ERPs. We know how to push and pull the data needed to effectively manage your A/R. We have well established API interfaces to most of the major ERPS solutions. </p>
    </div>
    <div class="region--banner--service__image">
      <img src="/assets/img/company/erps2.jpg" width="350" alt="customers">
    </div>
  </div>
</div>

{% include regions/product-icons.html class="icon--service--subtle" %}

{% include company/banner--were-hiring.html %}
