---
layout: default
title: Mission and Core Values
permalink: "/company/mission-and-values/"
class: mission-and-values
excerpt: 9ci's mission and core values
---

<div class="region--hero region--hero--half-height region--hero--full-width region--hero--mission-values region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <div class="region--hero__text">
      <h1 class="heading--bold">Our Mission</h1>
      <p><strong>Simplify A/R complexity, improve cash-flow and free our customers to work better</strong></p>
    </div>
  </div>
</div>


<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">We believe ...</h2>
      <p>Accounting and ERP solutions have become complicated. They take to long to install, are difficult to learn and its challenging to get timely information.</p>
      <p>We believe software should be intelligent, effective, faster and as simple as possible so our customers have the freedom to work better, make more informed decisions and improve their cash-flow</p>
      <p>We believe that A/R, the process of invoicing and getting paid, should be easy.</p>
      <p><strong>Our mission</strong> is to simplify A/R complexity, improve cash-flow and free our customers to work better</p>
    </div>
    <div class="region--banner--service__image">
      <img src="/assets/img/company/Mission-and-vision.jpg" alt="A chart showing performance improvements">
    </div>
  </div>
</div>

<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
  	<div class="region--banner--service__image">
      <img src="/assets/img/company/mission.gif" alt="A chart showing performance improvements">
    </div>
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">Our Focus = P.A.I.D</h2>
      <p><b>P</b>aid faster - We help our customer's to get their invoices paid faster</p>
      <p><b>A</b>pply smarter- We enable a faster and more intelligent cash application process</p>
      <p><b>I</b>nvoice the "Greenbill" way - Online, via email or sending on recycled paper</p>
      <p><b>D</b>isputes & Deductions - We make it easier to monitor, manage and reduce invoice disputes & deductions.</p>
    </div>
  </div>
</div>

<div class="region--centered-paragraph region--centered-paragraph-white region--mission-values--centered-paragraph region--full-width" style="margin-bottom: 0">
    <div class="region--full-width__wrapper">
        <div class="region--centered-paragraph__text">
            <h2 class=" heading--bold h1">Our Values</h2>
            <p>We constantly cross check the sanity of our actions against our purpose, focus and our values.</p>
            <p>keep it <b>SANE</b> and feel the <b>VIBE</b></p>
        </div>
    </div>
</div>

{% include company/key-value-list--core-values.html %}
{% include company/banner--were-hiring.html %}
