<div class="region--banner region--banner--service region--full-width">
  <div class="region--banner--service__wrapper region--full-width__wrapper">
    <div class="region--banner--service__image">
      <img src="/assets/img/services/performance-optimization.png" alt="A chart showing performance improvements">
    </div>
    <div class="region--banner--service__text">
      <h2 class="heading--sans-serif heading--bold h3">Performance Optimization</h2>
      <p>Our solutions run fast! SUPER fast. We process a huge number of checks and invoices every day. We recognize the importance in performance optimization and have a dedicated R&D team that focuses on speed. Whether its ensuring a user never has to wait for that screen to come up after clicking a button or ensuring that batch of 100,000 checks get processes within the hour. </p>
      <a class="link--arrow" href="/contact">See how fast we are</a>
    </div>
  </div>
</div>