<div class="region--hero region--hero--half-height region--hero--three-col region--hero--open-source region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <div class="region--hero__col region--hero__image">
      <img src="/assets/img/bg/open-source-hero.svg" alt="9ci giving back to Open Source community" />
    </div>
    <div class="region--hero__col region--hero__text">
      <h1 class=" heading--bold heading--underline--orange c-orange">Open Source</h1>
      <p>We are committed to the open source community</p>
    </div>
    <div class="region--hero__col region--hero__badges">
      <img src="/assets/img/icons-and-logos/xxx.png" alt="xxx Organization Member">
      <img src="/assets/img/icons-and-logos/yyy.png" alt="yyy Organization Member">
    </div>
  </div>
</div>
