<div class="region--hero region--hero--half-height region--hero--two-thirds-width region--hero--solutions region--full-width">
  <div class="region--hero__wrapper region--full-width__wrapper">
    <div class="region--hero__text">
      <h1 class=" heading--bold heading--underline--orange">A/R Solutions For The Way You Do Business</h1>
      <p>The way to manage your Accounts Receivable <br> Faster. Easier. Smarter. Better.</p>
    </div>
    <!--div class="region--hero__image"></div-->
  </div>
</div>
