<div class="region--text-block-features region--full-width">
  <div class="region--full-width__wrapper">

    <h2 class="c-eggshell">How Can We Help You?</h2>

    <p class="center c-eggshell">We know you like numbers. So here are a few figures to show you how 9ci systems can help your company.</p>

    <div class="region--text-block-list">

      <div class="text-block-list-item">
        <a href="#" class="text-block-list-item__link">
          <div class="text-block-list-item__content">
            <img src="/assets/img/icons-and-logos/feature-blocks/icon_get_paid.png">
            <h3 class="text-block-list-item__heading">
              Get Paid <br> Faster
            </h3>
            <p class="text-block-list-item__text">
              9ci's customers get paid on average 8 days faster. We have customers who improved their average days to pay (ADP & DSO) by 20 days with our Dispute & Deductions Management.
            </p>
            <p class="link--arrow">Learn More</p>
          </div>
        </a>
      </div>

      <div class="text-block-list-item">
        <a href="#" class="text-block-list-item__link">
          <div class="text-block-list-item__content">
            <img src="/assets/img/icons-and-logos/feature-blocks/icon_resolve_disputes.png">
            <h3 class="text-block-list-item__heading heading--sans-serif">
              Resolve Disputes &amp; <br>Deductions Faster
            </h3>
            <p class="text-block-list-item__text">
              9ci's customers have used Dispute & Deduction Management to reduce customer deductions by over 70%. And they have increased invalid deduction collections by over 300%.
            </p>
            <p class="link--arrow">Learn More</p>
          </div>
        </a>
      </div>

      <div class="text-block-list-item">
        <a href="#" class="text-block-list-item__link">
          <div class="text-block-list-item__content">
            <img src="/assets/img/icons-and-logos/feature-blocks/icon_reduce_bad_debits.png">
            <h3 class="text-block-list-item__heading heading--sans-serif">
              Reduce Bad Debts <br> Write-Offs
            </h3>
            <p class="text-block-list-item__text">
              Proactive management of delinquent accounts with 9ci Collections Management means less bad debt and fewer write-offs.
            </p>
            <p class="link--arrow">Learn More</p>
          </div>
        </a>
      </div>

      <div class="text-block-list-item">
        <a href="#" class="text-block-list-item__link">
          <div class="text-block-list-item__content">
            <img src="/assets/img/icons-and-logos/feature-blocks/icon_improve_cash.png">
            <h3 class="text-block-list-item__heading heading--sans-serif">
              Streamline your <br> Cash Flow
            </h3>
            <p class="text-block-list-item__text">
              9ci's Intelligent Auto Cash can apply over 90% of cash receipts from multiple sources, automatically. Apply cash payments in minutes, not days.
            </p>
            <p class="link--arrow">Learn More</p>
          </div>
        </a>
      </div>

      <div class="text-block-list-item">
        <a href="#" class="text-block-list-item__link">
          <div class="text-block-list-item__content">
            <img src="/assets/img/icons-and-logos/feature-blocks/icon_increase_efficiency.png">
            <h3 class="text-block-list-item__heading heading--sans-serif">
              Increase Efficiency <br> Decrease Cost
            </h3>
            <p class="text-block-list-item__text">
              Simplified cash process with 9ci's Intelligent Auto Cash means over 75% savings in time and labor.
            </p>
            <p class="link--arrow">Learn More</p>
          </div>
        </a>
      </div>

      <div class="text-block-list-item">
        <a href="#" class="text-block-list-item__link">
          <div class="text-block-list-item__content">
            <img src="/assets/img/icons-and-logos/feature-blocks/icon_happy.png">
            <h3 class="text-block-list-item__heading heading--sans-serif">
              Happy <br> Customers
            </h3>
            <p class="text-block-list-item__text">
              Simplified cash process with 9ci's Intelligent Auto Cash means over 75% savings in time and labor.
            </p>
            <p class="link--arrow">Learn More</p>
          </div>
        </a>
      </div>

    </div><!-- region-text-block-list -->

  </div><!-- region-full-width__wrapper -->
</div>
