{% assign date_modified = page.date %}
{% if page.date_modified %}
  {% assign date_modified = page.date_modified %}
{% endif %}
{% assign logo = '/assets/img/logo.png' %}

{% if page.featured_image %}
  {% capture image_path_start %}/assets/img{% endcapture %}
  {% capture image_path %}{{ page.featured_image | prepend: image_path_start }}{% endcapture %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "about": "{{ page.summary }}",
      "articleBody": "{{ page.content | escape }}",
      "author": {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ page.author }}",
        "affiliation": "9ci",
        "worksFor": "9ci"
      },
      "dateCreated": "{{ page.date }}",
      "dateModified": "{{ date_modified }}",
      "datePublished": "{{ page.date }}",
      "headline": "{{ page.title }}",
      "image": {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "author": "{{ page.author }}",
        "datePublished": "{{ page.date }}",
        "description": "{{ page.featured_image_alt }}",
        "height": "{{ page.featured_image_height }}",
        "url": "{{ image_path | prepend: site.url }}",
        "width": "{{ page.featured_image_width }}"
      },
      "inLanguage": "en-US",
      "keywords": "{{ page.tags | join: ', ' }}",
      "mainEntityOfPage": "{{ page.url | prepend: site.url }}",
      "publisher": {
        "@context": "http://schema.org",
        "@type": "Organization",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Chicago, IL",
          "postalCode": "60173",
          "streetAddress": "999 plaza"
        },
        "description": "{{ site.description }}",
        "email": "info@9ci.com",
        "logo": {
          "@context": "http://schema.org",
          "@type": "ImageObject",
          "description": "9ci",
          "height": "50px",
          "url": "{{ logo | prepend: site.url }}",
          "width": "114px"
        },
        "name": "9ci",
        "telephone": "(888) 924-9246",
        "url": "{{ site.url }}"
      },
      "sourceOrganization": "9ci",
      "text": "{{ page.content | escape | textify }}",
      "url": "{{ page.url | prepend: site.url }}"
    }
  </script>
{% else %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "about": "{{ page.summary }}",
      "articleBody": "{{ content | escape }}",
      "author": {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ page.author }}",
        "affiliation": "9ci",
        "worksFor": "9ci"
      },
      "dateCreated": "{{ page.date }}",
      "dateModified": "{{ date_modified }}",
      "datePublished": "{{ page.date }}",
      "headline": "{{ page.title }}",
      "inLanguage": "en-US",
      "keywords": "{{ page.tags | join: ', ' }}",
      "mainEntityOfPage": "{{ page.url | prepend: site.url }}",
      "publisher": {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "9ci",
        "logo": {
          "@context": "http://schema.org",
          "@type": "ImageObject",
          "description": "9ci logo",
          "height": "50px",
          "url": "{{ logo | prepend: site.url }}",
          "width": "114px"
        }
      },
      "sourceOrganization": "9ci",
      "text": "{{ content | escape | textify }}",
      "url": "{{ page.url | prepend: site.url }}"
    }
  </script>
{% endif %}