/**
 * @file
 *
 * Footer styles.
 */

/*doc
---
title: Footer
name: footer
category: Regions
---

```html_example

```

*/

// Entire footer element.
.region--footer {
  background-color: $footer-background-dark;
  clear: both;
  color: $footer-color;
  margin-top: $base-margin / 2;
  overflow: hidden;
  position: relative;

  @include grid-media($medium-screen-up) {
    margin-top: $base-margin;
  }
}

// Main footer section.
.region--footer__main {
  @include outer-container;

  display: flex;
  flex-wrap: wrap;

  // Set 3 main divs to full width on small screens and 1/3 width on large.
  > div {
    padding: $footer-padding $navigation-padding-horizontal-small;
    width: 100%;

    @include grid-media($medium-screen-up) {
      padding-left: $navigation-padding-horizontal-large;
      padding-right: $navigation-padding-horizontal-large;
      width: 33.3%;
    }
  }

  // Footer menu, on left on large screens.
  .region--footer__main__menu {
    background-color: transparentize($footer-background, .3);
    padding-top: $footer-padding / 2;

    .region--footer__logo {
      display: block;

      img {
        margin: 0 auto;
        height: 3.5em;

        @include grid-media($medium-screen-up) {
          margin: 0;
        }
      }
    }
  }

  // Contact info, in middle on large screens.
  .region--footer__main__contact {
    background-color: $secondary-color-dark;
    padding-bottom: $footer-padding / 4;
    padding-top: $footer-padding;
    text-align: center;

    @include grid-media($medium-screen-up) {
      padding-bottom: $footer-padding;
      text-align: left;
    }

    h3 {
      color: $primary-text-color;
      margin-bottom: $footer-padding / 2;
      text-transform: uppercase;
    }

    address {
      font-style: normal;
    }
  }

  // Social icons and twitter feed, on right on large screens.
  .region--footer__main__social {
    background-color: $secondary-color-dark;
    padding-bottom: $footer-padding;
    padding-top: $footer-padding / 4;

    @include grid-media($medium-screen-up) {
      padding-top: $footer-padding;
    }

    @include grid-media($max-width-up) {
      padding-right: 0;
    }

    .region--footer__main__social__icons {
      margin-bottom: $footer-padding / 2;

      ul {
        display: flex;
        justify-content: center;

        @include grid-media($medium-screen-up) {
          justify-content: flex-end;
        }
      }

      li {
        list-style-type: none;
        padding: 0 $footer-padding / 4;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .region--footer__main__contact,
  .region--footer__main__social {
    a {
      color: $footer-link-color;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $footer-link-color-hover;
      }
    }
  }
}

// Footer bottom, including copyright.
.region--footer__bottom {
  background-color: transparentize($footer-background, .3);
  padding: $footer-padding / 2 $navigation-padding-horizontal-small;

  @include grid-media($medium-screen-up) {
    padding: $footer-padding / 2 $navigation-padding-horizontal-large;
  }

  .region--footer__bottom__wrapper {
    @include outer-container;

    display: flex;
    justify-content: center;

    @include grid-media($medium-screen-up) {
      justify-content: flex-end;
    }
  }

  .region--footer__bottom__copyright {
    color: transparentize($footer-color, .3);
    font-size: .9em;
    margin: auto 0;
  }
}
