<div class="region--banner region--banner--were-hiring region--full-width">
  <div class="region--banner--were-hiring__image">
    <img src="/assets/img/bg/team-fade.jpg" alt="Team members working together">
  </div>
  <div class="region--banner--were-hiring__text region">
    <h2 class="heading--underline--eggshell c-eggshell">
      We're hiring!
    </h2>
    <p class="c-eggshell">
      Working at 9ci is pretty awesome. What are commited to bettering ourselves, our team, and the solutions we provide to our customers. We're always on the lookout for passionate experts in their craft. Check out some current opportunities:
    </p>
    <a href="https://9ci.breezy.hr/" class="link--arrow link--light--no-hover">View open positions</a>
  </div>
</div>