<div class="region--hero region--hero--company region--full-width">
  <div class="region--hero--company__wrapper region--full-width__wrapper">
    <div class="region--hero--company__heading-full-width">
      <h1 class="heading--sans-serif heading--bold h1">Who we are</h1>
      <a class="link--arrow" href="/company/mission-and-values" title="Our mission and core values">Our mission and core values</a>
    </div>
    <div class="region--hero--company__two-col">
      <div class="region--hero--company__two-col__text">
        <h2>We believe in long-term client relationships</h2>
        <h2>Customer focused. Open and collaborative.</h2>
        <p>We are a tightly organized and deeply talented group of individuals. We have rock solid domain expertise in accounts receivable business processes.
        We don't deliver a project and walk away – we collaborate with you to help you and your team work better.
        <br>
        You'll like working with us.
      </p>
      </div>
      <div class="region--hero--company__two-col__image"></div>
    </div>
  </div>
</div>
