<div class="region--key-value-list region--full-width" style="margin-top: 0; margin-bottom: 0;
	border-bottom: none; border-top: none;">
  <div class="region--key-value-list__wrapper region--full-width__wrapper">
    {% for core-value in site.data.core-values-sane %}
    	{% assign name = core-value.name %}
    	{% assign id = core-value.id %}
    	{% assign description = core-value.description %}
    	{% include components/key-value-list-item.html key=name id=id value=description %}
    {% endfor %}
  </div>
</div>

<div class="region--key-value-list region--full-width" style="margin-top: 0;border-bottom: none;">
  <div class="region--key-value-list__wrapper region--full-width__wrapper">
    {% for core-value in site.data.core-values-vibe %}
    	{% assign name = core-value.name %}
    	{% assign id = core-value.id %}
    	{% assign description = core-value.description %}
    	{% include components/key-value-list-item.html key=name id=id value=description %}
    {% endfor %}
  </div>
</div>