/**
 * @file
 *
 * Logo styles.
 */

/*doc
---
title: Logos
name: logos
category: Components
---
Main logo and light logo.

```html_example
<div class="styleguide-wrapper">
  <img src="/assets/img/logo.svg" alt="Savas Labs" class="site-logo site-logo--main">
</div>
<div class="styleguide-wrapper bg-teal">
  <img src="/assets/img/logo-light.svg" alt="Savas Labs" class="site-logo site-logo--light">
</div>
```

*/

.site-logo {
  display: block;
  height: $navigation-height;
  padding: $navigation-padding-vertical 0;
}

.site-logo--main {
  display: block;
  height: $navigation-height - 1;
  margin: 0; //margin: $navigation-padding-vertical 0;
  padding: 0;
  width: $navigation-height - 1;

  @include grid-media($medium-screen-up) {
    height: $navigation-height + 1;
    width: $navigation-height + 1;
  }
}

.site-logo--light {
  display: block;
  height: $navigation-height;
  padding: 0;
}
