/**
 * @file
 *
 * Color variables.
 *
 * Note: this file is imported by _variables.scss.
 */


/*doc
---
title: Primary colors
name: 1colors--primary
category: Colors
---
The main color palette.

<div class="styleguide-color-chips">
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-magenta"></div>
    <code>$primary-color</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-orange"></div>
    <code>$accent-color</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-eggshell"></div>
    <code>$primary-text-color</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-teal"></div>
    <code>$secondary-color</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-dark-teal"></div>
    <code>$secondary-color-dark</code>
  </div>
</div>

| Variable     | Hex       | rgb           |
| ------------ | --------- | ------------- |
| `$primary-color`   | `#9e023b` | `158,2,59`    |
| `$accent-color`    | `#d3281b` | `222,40,27`   |
| `$primary-text-color`  | `#fff8f3` | `225,248,243` |
| `$secondary-color`      | `#0a5365` | `10,83,101`   |
| `$secondary-color-dark` | `#06282d` | `6,40,45`     |

*/

// Primary colors.
// $primary-color: #EB8202;
// $accent-color: #02629E;
// $primary-text-color: #fff8f3;
// $secondary-color: #402300;
// $secondary-color-dark: #263238;

// Primary colors +1
$primary-color: #E8650C;
$accent-color: #8BC34A;
$primary-text-color: #fff8f3;
$secondary-color: #013A5E;
$secondary-color-dark: #012B45;

// not used right now
// from material pallete https://material.io/color
// and here https://www.materialpalette.com
$primary-color-dark:   #af3500;
$primary-color-light:  #ff9542;
$secondary-color-light: #3c648b;

$primary-color-text:   #FFFFFF;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


/*doc
---
title: Secondary colors
name: 2colors--secondary
category: Colors
---

<div class="styleguide-color-chips">
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-grey"></div>
    <code>$grey</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-light-grey"></div>
    <code>$light-grey</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-light-teal"></div>
    <code>$secondary-color-light</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-light-orange"></div>
    <code>$accent-color-light</code>
  </div>
</div>

| Variable       | Hex       | rgb           |
| -------------- | --------- | ------------- |
| `$grey`        | `#565d5e` | `86,93,94`    |
| `$light-grey`  | `#bdc2c3` | `189,194,195` |
| `$secondary-color-light`  | `#f3f6f7` | `243,246,247` |
| `$accent-color-light`| `#f29c96` | `242,156,150` |

*/

// Secondary colors.
$grey: #565d5e;
$light-grey: lighten($grey, 40%);
$secondary-light-bg: transparentize($secondary-color-light, .95);
//$secondary-color-light: #f3f6f7;
$accent-color-light: lighten($accent-color, 30%);

/*doc
---
title: Code highlighting colors
name: 3colors--code
category: Colors
---
Based on a sass port of the Solarized theme, created by Brandon Mathis at
Octopress, and adapted for our color palette.

<div class="styleguide-color-chips">
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-purple"></div>
    <code>$purple</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-magenta"></div>
    <code>$primary-color</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-pink"></div>
    <code>$pink</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-orange"></div>
    <code>$accent-color</code>
  </div>
</div>
<div class="styleguide-color-chips">
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-yellow"></div>
    <code>$yellow</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-green"></div>
    <code>$green</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-teal"></div>
    <code>$secondary-color</code>
  </div>
  <div class="styleguide-color-chip__wrapper">
    <div class="styleguide-color-chip__bg bg-dark-teal"></div>
    <code>$secondary-color-dark</code>
  </div>
</div>

*/

$purple: #501888;
$pink: #d33682;
$yellow: #f2a324;
$green: #055c2b;

// Utility colors.
$text-color: $grey;
$heading-color: $secondary-color;
$action-color: $secondary-color;
$action-color-hover: lighten($secondary-color, 10%);
$gainsboro: #dcdcdc;
$white: #fff;

// Alert colors.
$alert-color: transparentize($yellow, .8);
$error-color: transparentize($primary-color, .8);
$notice-color: transparentize($accent-color, .8);
$success-color: transparentize($green, .8);

// Helper classes.
.bg-magenta { background-color: $primary-color; }
.bg-orange { background-color: $accent-color; }
.bg-eggshell { background-color: $primary-text-color; }
.bg-teal { background-color: $secondary-color; }
.bg-dark-teal { background-color: $secondary-color-dark; }
.bg-grey { background-color: $grey; }
.bg-light-grey { background-color: $light-grey; }
.bg-light-teal { background-color: $secondary-light-bg; }
.bg-light-orange { background-color: $accent-color-light; }
.bg-purple { background-color: $purple; }
.bg-pink { background-color: $pink; }
.bg-yellow { background-color: $yellow; }
.bg-green { background-color: $green; }
.c-magenta { color: $primary-color; }
.c-orange { color: $accent-color; }
.c-eggshell { color: $primary-text-color; }
.c-teal { color: $secondary-color; }
.c-dark-teal { color: $secondary-color-dark; }
.c-grey { color: $grey; }
.c-light-grey { color: $light-grey; }
.c-light-teal { color: $secondary-color-light; }
.c-light-orange { color: $accent-color-light; }
.c-purple { color: $purple; }
.c-pink { color: $pink; }
.c-yellow { color: $yellow; }
.c-green { color: $green; }
